@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  :root {
    background-color: #050505;
    color: white;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Utilidad para el Glow Text */
  .shadow-text {
    text-shadow: 0 0 20px rgba(230, 57, 70, 0.4);
  }
}